modules = ["python-3.10:v18-20230807-322e88b"]
run = "python main.py --json sample_packages.json"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py --json sample_packages.json"]
deploymentTarget = "cloudrun"
